::placeholder {
    color: rgb(255, 255, 255, 0.3);
    opacity: 1;
}

.channel {
    position: relative;
    width: 100vw;
    height: calc(100% - 4rem);
}

.list_of_messages {
    position: relative;
    height: calc(100% - 5rem);
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.scroll_down_btn {
    position: absolute;
    top: calc(100vh - 13rem);
    left: calc(100vw - 4.65rem);
    padding: 0.2rem 0.2rem 0.2rem 0.25rem;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    border: none;
    background-color: white;
    cursor: pointer;
}
.scroll_down_btn svg {
    fill: rgb(71, 113, 168);
    transform: rotate(180deg);
    pointer-events: none;
}

.text_form_container {
    position: relative;
    width: 100%;
    height: 5rem;
    background-color: rgb(58, 64, 73);
}

.text_form {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.75rem;
    margin: 0.1rem 1.5rem 0 1.5rem;
    width: calc(100% - 3rem);

    background-color: rgb(48, 54, 61);
    border-radius: 0.5rem;
}

.text_input {
    width: 100%;

    background: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    border: none;
}
.text_input:focus {
    outline: none;
}

.send_button {
    visibility: collapse;
    transform: translateX(115vw);
    z-index: 1000;
    padding: 0.45rem 0.3rem 0.3rem 0.5rem;
}

.send_button svg {
    fill: white;
}

.send_button_activated {
    visibility: visible;
    margin: 0.25rem 0 0 calc(100% - 3rem);
    transform: translateX(0);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    background-color: rgb(71, 113, 168);
    opacity: 1;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.25s;
}

.text_form_activated {
    width: calc(100% - 4.5rem);
    margin-left: 1rem;
    transition: all 0.25s;
}
